<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <variable name="myvar" value="myvalue"/>

  <targets>
    <target 
      xsi:type="File" 
      name="filedata" 
      fileName="C://Users/Колян/source/repos/Opening_The_Program/LOG/${shortdate}.log"
      layout="${longdate} | [${uppercase:${level}}] | ${logger} | ${message}" 
    />
  </targets>

  <rules>
    <!-- Данное правило пишет все сообщения с минимальным уровнем Debug в целевой лог filedata -->
    <logger name="*" minlevel="Debug" writeTo="filedata" />
  </rules>
  
</nlog>
